doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/client/img/favicon.ico')
    title Mstsc.js
    // Bootstrap core CSS
    link(href='/client/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/client/css/signin.css', rel='stylesheet')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/client/js/mstsc.js')
    script(type='text/javascript', src='/client/js/keyboard.js')
    script(type='text/javascript', src='/client/js/rle.js')
    script(type='text/javascript', src='/client/js/client.js')
    script(type='text/javascript', src='/client/js/canvas.js')
    script(language='javascript').
      var client = null;
      function load (canvas) {
      client = Mstsc.client.create(Mstsc.$(canvas));
      connect(!{ip},"",!{username},!{password})
      }
      function connect (ip, domain, username, password) {
      Mstsc.$("main").style.display = 'none';
      var canvas = Mstsc.$("myCanvas");
      canvas.style.display = 'inline';
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      client.connect(ip, domain, username, password, function (err) {
      Mstsc.$("myCanvas").style.display = 'none';
      Mstsc.$("main").style.display = 'inline';
      });
      }




  body(onload='load("myCanvas")')
    #main.container
    // /container
    canvas#myCanvas(style='display:none')
