//-
//- changepassword.pug
//-
//- Project:   INFT2031 Network and Admin Portal 
//- Author:    UoN Major Project, 2016
//- Modified:  Sharlene Von Drehnen
//- Date:      10/12/2016 - 31/01/2017    
//- 

extends ../layout

block content

	//- ----------------------- Mini navigation buttons to previous pages -------------------------------- -// 

	div#backButton

		img(src='/assets/img/arrow.gif')
		a(href='/userProfile')  User Profile     
		img(src='/assets/img/arrow.gif')
		a(href='')  Change Password      

	h1.o-header__title Change Password

	//- ----------------------- Form to change the users password -------------------------------- -// 

	form(action='/changepassword/req', method='POST')
		legend 
		.form-group
			label(for='oldPassword') Old Password
			input(type='password',name='oldPassword')
		.form-group
			label(for='newPassword') New Password
			input(type='password',name='newPassword')
		.form-group
			label(for='confirm') Confirm New Password
			input(type='password',name='confirm')
		.form-group
			button(type='submit') Update Password
