//-
//- adminDashboard.pug
//-
//- Project:   INFT2031 Network and Admin Portal 
//- Author:    Sharlene Von Drehnen, 2016
//- Date:      10/12/2016 - 31/01/2017    
//- 

extends ../layout

//- Basic view of the Dashboard for Admins. Currently there is nothing being displayed (Only basic messages)

block content
	h1.o-header__title Admin Dashboard
	h2 Manage configuration and user VMs
	p If you have not done so already please set up the resource group and storage groups for this application
	p Click on 'Lab Management' to start uploading content for your students

