//-
//- main.pug
//-
//- Project:   INFT2031 Network and Admin Portal 
//- Author:    UoN Major Project, 2016
//- Modified:  Sharlene Von Drehnen
//- Date:      10/12/2016 - 31/01/2017    
//- 

extends ../layout.pug

//- Page navigated to when user first logs in (Both students and Admin)

block title
	title Welcome

block content
	h1.o-header__title Home
	h2 Welcome to the University of Newcastle System & Network Admin Portal
	p If this is your first time logging in we recommend you change your password
	br
	


