//-
//- studentDashboard.pug
//-
//- Project:   INFT2031 Network and Admin Portal 
//- Author:    Sharlene Von Drehnen, 2016
//- Date:      10/12/2016 - 31/01/2017    
//- 

extends ../layout.pug

//- Basic view of the Dashboard for Students. Currently there is nothing being displayed (Only basic messages)

block title
	title Welcome

block content
	h1.o-header__title Student Dashboard
	p If this is your first time logging in we recommend you change your password
	p To get started, press 'My Labs' on the navigation bar
	br
	


