//-
//- deleteCourse.pug
//-
//- Project:   INFT2031 Network and Admin Portal 
//- Author:    Sharlene Von Drehnen, 2016
//- Date:      10/12/2016 - 31/01/2017    
//- 

extends ../layout.pug

block title
	title Delete a Course

block content
	script(src='../js/labpage.js')
	
	//- --------------------------------- Mini navigation buttons to previous pages ------------------------------------------- -//

	div#backButton

		img(src='/assets/img/arrow.gif')
		a(href='/courseManagement')  Course Management 
		img(src='/assets/img/arrow.gif')
		a(href='')  Delete a Course


	//- ---------- List of courses are displayed and the user chooses which ones they want to delete ---------- -//

	div#lab
		h1.o-header__title Delete a Course
		p Choose the Course/s you would like to delete

		br
		div#labs-container
		script(src='../js/labpage.js')

		//- ---------- Script to display all the courses from the labInfo.json file ---------- -//
		script.
			var obj = !{labinfo};
			var CourseIndex = obj.CourseIndex;
			var labsContainer = $('#labs-container');
			for (var i in CourseIndex) {

				var lab = $('<div>', {
					class: 'lab',
					html: CourseIndex[i].newCourseName,

				});
				var button = $('<button>', {
					html: 'Delete',
					id: i
				});

				var link = $('<a>', {
					href: '#',
				});

				link.append(button);
				lab.append(link);
				lab.append("</a>");
				labsContainer.append(lab);
			}

		script.

			// Script to Delete Lab - Does not work yet. 
			// Navigates to labpage.js
			
			/*
				var availableLabs = obj.availableLabs;
				for (var i in availableLabs){
					var number = String(i);
					document.getElementById(number).onclick=(function(opt){
						return function(){
							deleteLab(opt);
						}
					})(i)

				}
			*/

		br
		br

		

		


		